@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 85%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 1% 15%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

/* Have NAVBAR sitting on top of hero image */
.navbar-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

/* Underline when hover over link */
.nav-link {
  position: relative;
}

.nav-link:not(:has(button))::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #00dd00;

  visibility: hidden;
  transition: 0.6s ease-in-out;
}

.nav-link:hover::before {
  width: 100%;
  visibility: visible;
}

@media (max-width: 1023px) {
  .nav-link:hover::before {
    width: 20%;
    left: 0;
  }
}

/* Background colour & transition for responsive navbar */
@media (max-width: 1023px) {
  .navbar-container {
    transition: background-color 1.2s ease-in-out;
  }

  .navbar-open {
    background-color: #00dd00;
  }

  .navbar-closed {
    background-color: transparent;
  }

  .navbar-full-height {
    height: auto;
  }
}

@media (max-width: 450px) {
  .navbar-full-height {
    height: 100vh;
  }
}

/* Hero section image*/
.hero-image,
.about-image,
.projects-image {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
  top: 0;
  left: 0;
  /* opacity: 0.6; */
}

.z-index {
  position: relative;
  z-index: 1;
}
